
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    font-family:   sans-serif;
}


#calculator{
    
    background: #1e1e1e;
    padding: 25px;
    border-radius: 15px;
    border-radius: 0px 8px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    overflow: hidden;
}
#display{
    
    height: 60px; ;
    font-size: 1.8rem;
    text-align: right;
    padding: 15px;
    
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
    background: #2d2d3a;
    color: #fff;
    box-shadow:  inset 0px 4px 8px rgba(0, 0, 0, 0.5);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    padding: 0px;
    text-align: center;
}
button{
    padding: 18px;
     border-radius: 12px;
    border: none;
    background: #2d2d3a;
    color:     #fff;
    font-size: 1.3rem;

    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);

}

.operator-btn{
    background-color: hsl(35, 100%, 55%);

}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);

}
.operator-btn:active{
     background-color: hsl(35, 100%, 75%);


}  
.operator-btnS{
    background: #e74c3c;

}
.operators{
    background: #27ae60;
}



